* {
    box-sizing: border-box;
}

html  {
    color: #fff;
    background: #20b2aa;
    font-family: 'Arimo', sans-serif;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: #20b2aa;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

h1 {
    padding: 20px;
    text-transform: uppercase;
}

p {
    padding: 10px 0;
}

.container {
    max-width: 1155px;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.border-bottom {
    border-bottom: 1px solid #fff;
}

section {
    margin: 5px;
}

.logo {
    padding: 4px;
    border: 3px solid #fff;
    border-radius: 25px;
    background: #20b2aa;
    margin: 12px;
}

.logo-inner {
    width: 100px;
    padding: 10px 10px 10px 18px;
    background: #fff;
    color: #285B00;
    border: 1px solid #20b2aa;
    border-radius: 25px;
}

.page-content {
    color: #7a8984;
    background: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.logo-1x, .logo-2x, .logo-3x {
    vertical-align: middle;
}

.logo-1x {
    font-size: 0.75rem;
}

.logo-2x {
    font-size: 1.25rem;
}

.logo-3x {
    font-size: 1.75rem;
}
#menu {
    display: inline-block;
    width: 22%;
    border-right: 4px solid #76a915;
}

#menu {
    color: #76a915;
}

nav a {
    display: inline-block;
    padding: 5px 0 5px 30px;
    width: 100%;
    border-radius: 15px 0px 0px 15px;
    color: #76a915;
}

nav > ul > li {
    padding: 8px 0px 8px 8px;

}

nav ol {
    padding-top: 8px;
}

nav > ul > li > ol > li {
    padding: 5px 0 5px 5px;

}

.active {
    color: #fff;
    background: #76a915;
}

#content {
    display: inline-flex;
    justify-content: space-around;
    width: 76%;
}
#content section {
    position: relative;
    padding-bottom: 50px;
}
#heroes img {
    max-width: 65px;
}
#heroes form {
    display: inline-block;
}
#heroes > div {
    padding: 5px;
}

#heroes > div + div {
    border-top: 1px solid #7a8984;
}

#guess {
    text-align: center;
}

#guess img {
    margin: 35px auto 15px;
    max-width: 195px;
    display: block;
}

.code {
    resize: none;
    font-family: "Lucida Console", monospace;
}

.next, .prev {
    display: inline-block;
    margin: 8px;
}
.prev {
    float: left;
}
.next {
    float: right;
}
.clearfix {
    clear: both;
}
.pagination {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
